body {
	background-color: #86A136; 
}

p.carol {
	 color: rgb(200,600,200);
	 font-size: x-large;
	 font-family: sans-serif;
}

p.angelica {
	 color: yellow;
	 font-size: x-large;
	 font-family: monospace;
}

h1 {
	color: #D30943;
}

div {
	background-repeat: repeat;
	background-position: center;
	display: inline-block;	
}
