body: {
	display: block;
	background: blue;
}

.box1 {
	background-color: gray;
	text-align: center;
}

.box2 {
	background-color: blue;
	text-align: center;
}

.box3 {
	background-color: red;
	text-align: center;	
}

